.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
    
}

.DialogsItems  {
    padding: 10px;
}

.DialogsItems a {
    color: white;
}

.DialogsItems .active {
    color: gold;
    
}

.Messages .Message {
    padding: 10px;
    color: white;
}