.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
    
}

.DialogsItems .Dialog {
    padding: 10px;
    
}

.DialogsItems .active {
    color: gold;
    
}

.Messages .Message {
    padding: 10px;
}