* {margin: 0; padding: 0;}
.App {
  display: grid;
  grid-gap: 5px;

  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "Header Header"
    "Navbar Content"
    "Footer Footer"; 
}

.Header {
  grid-area: Header;
  background-color: aqua;
}

.Navbar {
  grid-area: Navbar;
  background-color: yellow;
}

.Content {
  grid-area: Content;
  background-color: green;
}

.Footer {
  grid-area: Footer;
  background-color: orange;
}